* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
  --pink-title: #B52184;
  --blue-dark:#312D64;
  --gradiente-color:linear-gradient(96deg, #343193 0%, #302C63 99.68%);
  --white: #FFF;
}

.header .astronauta img {
  width: 100%;
}

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  color: var(--pink-title);
  margin: 1.7rem 0 .5rem;
  }

  .header .header-title p {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    color: var(--blue-dark);
    margin-bottom: 3.5rem;
  }
  

  h2 {
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    color: var(--pink-title);

    margin: 3.3rem 0 2rem;
  }

h3 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  color: var(--pink-title);

  margin-bottom: 4.3rem;
}

.menu .text p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

header .header {
  padding: 0 3.4rem 9.3rem;

  width: 100%;
}
  
#button {
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  justify-items: center;

  background-color: var(--blue-dark);
  gap: 4.9rem;
  padding: 5.3rem 0;
  width: 100%;

}

main .menu {
  background: var(--white);
  border-radius: 1.6rem;
  padding: 2.65rem;

  width: 36.6rem;
}

#contact form {
  padding: 7.8rem 4.1rem 6.5rem;
  width: 100%;
}

#contact fieldset {
  border: none;
}

#contact fieldset .input-wrapper {
  margin-bottom: 2.4rem;
}

#contact .input-wrapper input,
#contact .input-wrapper textarea {
  width: 100%;
  padding: 1.6rem 1.6rem 1.6rem 5rem; 
  border-radius: 1.6rem;
  border: 1.5px solid #312D64;

  color: #312D64;

  font-family: Mulish;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

#contact .button2 {
  padding: 1.6rem;
  color: var(--white);
  background: var(--gradiente-color);

  border-radius: 1.6rem;
  border: none;
}




@media (min-width: 1440px) {
  
  h1 {
    font-size: 6rem;
  }


  header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-height: 83.6rem;
  }

  .header .astronauta {
    order: 2;
    
  }

  .header .header-title {
    order: 1;
    padding-left: 10rem;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  main .menu {
    width: 36.6rem;
  }

  #button {
    justify-content: flex-start;
  }

  #contact form {
    width: 50%;
    padding-left: 10.9rem;
  }

  #contact {
    background: url(imgs/section\ stars.png) no-repeat right;

  }
}